body {
  background-color: darkolivegreen;
}

img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.item {
  flex: 25%;
  max-width: 25%;
}

@media (max-width: 800px) {
  .item {
    flex: 50%;
    max-width:50%;
  }
}

@media (max-width: 600px) {
  .item {
    flex: 100%;
    max-width: 100%;
  }
}
