body {
    background-color: cornflowerblue;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 70px;
}

#pets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#treats {
    display: flex;
    justify-content: center;
}

#treat1 {
    margin-right: 15px;
}

.emoji {
    font-size: 70px;
    cursor: pointer;
}

.pet, .treat {
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 8px;
    padding: 8px;
    width: 33%;
}

.ranAway {
    cursor: not-allowed;
    opacity: 0.5;
}

.selected {
    border: 2px solid black;
    cursor: pointer;
}